<nav role="navigation" class="title-wrapper">
  <div class="nav-wrapper">
    <span class="title"><i class="arrow"></i> Artigos <i class="arrow"></i> Novo</span>
  </div>
</nav>

<div class="row">
  <div class="col s12">
    <div class="card-panel">
      <%= render "form" %>
    </div>
  </div>
</div>
